@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Pacifico&display=swap');

body {
    font-family: Nanum Myeongjo;
    font-weight: 500;

}

#splash {

}

#splash div {
    width: 33%;
    display: inline-block;
    height: 400px;
    border: 1px solid black;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 80px;
    background-color: blue;
}

footer ul{
    text-align: center
}

footer li {
    display: inline;
    text-decoration: none;
    font-size: 200%;
}

footer i {
    color: black;
    padding: 20px;
    
}